# Dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
Thumbs.db

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local

# Emulator scratch
*.fwmod.tmp
